body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

.item{
    width: 80px;
    height: 80px;
    background-color: teal;
    color: white;
    font-size: 2em;
    border: 1px solid red;
    text-align: center;
}

.container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container1{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container2{
     border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}